schemas/companyInfo.xml

<?xml version="1.0"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="company">
		<xs:complexType>
			<xs:attribute name="id" type="xs:ID"/>
      		<xs:sequence maxOccurs="1">
				<xs:simpleType name="companyName" type="xs:string" use="required" maxOccurs="1"/>
				<xs:simpleType name="website" type="xs:string" />
				<xs:simpleType name="numberOfEmployees" type="xs:integer" maxOccurs="1"/>
				<xs:element name="location" use="required">
					<xs:complexType>
						<xs:attribute name="officeName" type="xs:string"/>
      					<xs:sequence>
      						<xs:simpleType name="lat" type="xs:decimal" default="59.3233705" maxOccurs="1"/>
      						<xs:simpleType name="lng" type="xs:decimal" default="18.0681967" maxOccurs="1"/>
  						</xs:sequence>
  					</xs:complexType>
				</xs:element>
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>